.navbar-nav {
  width: 100%;
  justify-content: end;
}

footer {
  text-align: center;
}

.card-desafio {
  box-shadow: 2px 4px rgb(173, 133, 80);
  transition: transform 330ms ease-in-out;
}

.card-desafio:hover {
  opacity: .9;
  transform: scale(.98) ;
}

.img-desafio {
  height: 250px;
  object-fit: cover;
}
